<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyGram</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    .red {
      color: red;
    }

    .green {
      color: green;
    }

    .yellow {
      color: yellow;
    }

    main {
      margin-top: 50px;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;

    }
  </style>
</head>

<body>

  <nav>
    <h1>MyGram</h1>

    <table>
      <tr>
        <th>Nama Repo</th>
        <td>FGA_GO_MyGram</td>
      </tr>
      <tr>
        <th>URL Repository</th>
        <td><a href="https://github.com/Yunnie-pin/FGA_GO_MyGram">Yunnie-pin/FGA_GO_MyGram</a></td>
      </tr>
      <tr>
        <th>Deskripsi</th>
        <td>MyGram adalah aplikasi berbagi foto sederhana yang dibuat menggunakan bahasa pemrograman Go dan framework web Gin.</td>
      </tr>
      <tr>
        <th>Author</th>
        <td>Arifin Yunianta</td>
      </tr>
    </table>
    <hr>
  </nav>
  {{ if ne .status  "PRODUCTION" }}
  <p>Status : <strong class="red">
      {{ .status }}</strong></p>
  {{ end }}

  <main class="container">
    <ul>
      <li>
        <div>
          <h2>Users</h2>
          <ul>
            <li>
              <h3>Register</h3>
              Route : <a href="/users/register">/users/register</a>
              (<strong class="red">POST</strong>)
              <br>
              <p>Body :</p>
              <table>
                <tr>
                  <th>Field</th>
                  <th>Type</th>
                  <th>Required</th>
                  <th>Notes</th>
                </tr>
                <tr>
                  <td>email</td>
                  <td>string</td>
                  <td>yes</td>
                  <td>unique</td>
                </tr>
                <tr>
                  <td>password</td>
                  <td>string</td>
                  <td>yes</td>
                  <td>minimal panjang 6 karakter</td>
                </tr>
                <tr>
                  <td>username</td>
                  <td>string</td>
                  <td>yes</td>
                  <td>unique</td>
                </tr>
                <tr>
                  <td>age</td>
                  <td>number</td>
                  <td>yes</td>
                  <td>umur harus diatas 8</td>
                </tr>
              </table>
            </li>
            <li>
              <h3>Login</h3>
              Route : <a href="/users/register">/users/login</a>
              (<strong class="red">POST</strong>)
              <br>
              <p>Body :</p>
              <table>
                <tr>
                  <th>Field</th>
                  <th>Type</th>
                  <th>Required</th>
                  <th>Notes</th>
                </tr>
                <tr>
                  <td>email</td>
                  <td>string</td>
                  <td>yes</td>
                  <td>unique</td>
                </tr>
                <tr>
                  <td>password</td>
                  <td>string</td>
                  <td>yes</td>
                  <td>minimal panjang 6 karakter</td>
                </tr>
              </table>
            </li>
            <li>
              <h3>Update User</h3>


              Route : <a href="/users/USERID">/users/:userId</a>
              (<strong class="red">PUT</strong>)
              <br>
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
              <p>Body :</p>
              <table>
                <tr>
                  <th>Field</th>
                  <th>Type</th>
                  <th>Required</th>
                  <th>Notes</th>
                </tr>
                <tr>
                  <td>email</td>
                  <td>string</td>
                  <td>yes</td>
                  <td>unique</td>
                </tr>
                <tr>
                  <td>username</td>
                  <td>string</td>
                  <td>yes</td>
                  <td>unique</td>
                </tr>
              </table>
            </li>
            <li>
              <h3>Delete User</h3>

              Route : <a href="/users/">/users</a>
              (<strong class="red">DELETE</strong>)
              <br>
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>

            </li>
          </ul>
        </div>
      <li>
        <div>
          <h2>Photos</h2>
          <ul>

            <li>
              <h3>Get All Photos</h3>
              Route : <a href="/photos/all">/photos</a>
              (<strong class="red">GET</strong>)
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
            </li>

            <li>
              <h3>Get Photo By User ID</h3>
              Route : <a href="/photos/">/photos/:photoId</a>
              (<strong class="red">GET</strong>)
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
            </li>

            <li>
              <h3>Create Photo</h3>
              Route : <a href="/photos">/photos</a>
              (<strong class="red">POST</strong>)
              <br>
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
              <p>Body :</p>
              <table>
                <tr>
                  <th>Field</th>
                  <th>Type</th>
                  <th>Required</th>
                  <th>Notes</th>
                </tr>
                <tr>
                  <td>title</td>
                  <td>string</td>
                  <td>yes</td>
                  <td></td>
                </tr>
                <tr>
                  <td>photo_url</td>
                  <td>string</td>
                  <td>yes</td>
                  <td></td>
                </tr>
                <tr>
                  <td>caption</td>
                  <td>string</td>
                  <td>no</td>
                  <td></td>
                </tr>

              </table>
            </li>

            <li>
              <h3>Update Photo</h3>
              Route : <a href="/photos/">/photos/:photoId</a>
              (<strong class="red">PUT</strong>)
              <br>
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
              <p>Body :</p>
              <table>
                <tr>
                  <th>Field</th>
                  <th>Type</th>
                  <th>Required</th>
                  <th>Notes</th>
                </tr>
                <tr>
                  <td>title</td>
                  <td>string</td>
                  <td>yes</td>
                  <td></td>
                </tr>
                <tr>
                  <td>photo_url</td>
                  <td>string</td>
                  <td>yes</td>
                  <td></td>
                </tr>
                <tr>
                  <td>caption</td>
                  <td>string</td>
                  <td>no</td>
                  <td></td>
                </tr>

              </table>
            </li>

            <li>
              <h3>Delete Photo</h3>
              Route : <a href="/photos/">/photos/:photoId</a>
              (<strong class="red">DELETE</strong>)
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
            </li>



          </ul>
        </div>
      </li>
      <li>
        <div>
          <h2>Comments</h2>
          <ul>
            <li>
              <h3>Get All Comments</h3>
              Route : <a href="/comments/">/comments/all</a>
              (<strong class="red">GET</strong>)
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
            </li>

            <li>
              <h3>Get Comment By User</h3>
              Route : <a href="/comments/">/comments</a>
              (<strong class="red">GET</strong>)
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
            </li>

            <li>
              <h3>Create Comment</h3>
              Route : <a href="/comments/">/comments</a>
              (<strong class="red">POST</strong>)
              <br>
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
              <p>Body :</p>
              <table>
                <tr>
                  <th>Field</th>
                  <th>Type</th>
                  <th>Required</th>
                  <th>Notes</th>
                </tr>
                <tr>
                  <td>message</td>
                  <td>string</td>
                  <td>yes</td>  
                  <td></td>
                </tr>
                <tr>
                  <td>photo_id</td>
                  <td>number</td>
                  <td>yes</td>
                  <td></td>
                </tr>
              </table>
            </li>

            <li>
              <h3>Update Comment</h3>
              Route : <a href="/comments/">/comments/:commentId</a>
              (<strong class="red">PUT</strong>)
              <br>
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
              <p>Body :</p>
              <table>
                <tr>
                  <th>Field</th>
                  <th>Type</th>
                  <th>Required</th>
                  <th>Notes</th>
                </tr>
                <tr>
                  <td>message</td>
                  <td>string</td>
                  <td>yes</td>
                  <td></td>
                </tr>
              </table>
            </li>

            <li>
              <h3>Delete Comment</h3>
              Route : <a href="/comments/">/comments/:commentId</a>
              (<strong class="red">DELETE</strong>)
              <p>
                Header : <strong class="green">Authorization</strong> (Bearer token)
              </p>
            </li>

      </li>
    </ul>
  </main>
</body>

</html>